@{
    
}
@model IEnumerable<Project1.Models.DegreeQuestionsModels>

<div class="bs-example">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="@Url.Action("Degrees", "Home")">Degrees</a></li>
        <li class="active">BSIS</li>
    </ul>
</div>

<h2>@ViewBag.Message</h2>
<div class="container">
    <div class="degreeBox" style="background-color: white; opacity: 0.8;">

        <div class="row">
            <div class="col-md-6">
                <h3 style="font-weight: bold">@ViewBag.DegreeName</h3>
                <div class="info" style="margin-left: 35px;">
                    <h3>@ViewBag.Cordinator</h3>
                    <h4>@ViewBag.Title</h4>
                    <p>@Html.Raw(ViewBag.OfficeAddress)</p>
                    <ul class="bullets" style="font-weight: bold;">
                        <li>@ViewBag.PhD</li>
                        <li>@ViewBag.Masters</li>
                        <li>@ViewBag.Bachelors</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <img class="img-thumbnail" style="width:300px; margin-left: 75px;" src="~/Content/Images/@ViewBag.Image" />
            </div>
        </div>
    </div>

    <hr />

    <div class="panel-group" id="accordion">


        <!--This will start the panel of questions-->
        @foreach (var item in Model.Where(i => i.degreeID.Equals(7)))
        {
            <div class="panel panel-default" id="panel_@Html.DisplayFor(modelItem => item.degreeQuestionID)">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapse_@Html.DisplayFor(modelItem => item.degreeQuestionID)"
                           href="#collapse_@Html.DisplayFor(modelItem => item.degreeQuestionID)" class="collapsed">
                            @Html.HiddenFor(modelItem => item.degreeID)
                            @Html.HiddenFor(modelItem => item.userID)
                            @Html.DisplayFor(modelItem => item.question)
                        </a>
                    </h4>

                </div>

                <div id="collapse_@Html.DisplayFor(modelItem => item.degreeQuestionID)" class="panel-collapse collapse">
                    <div class="panel-body">

                        @Html.DisplayFor(modelItem => item.answer)<br /><br />
                        @Html.ActionLink("Answer", "Edit", "DegreeQuestionsModels", new { id = item.degreeQuestionID }, null)
                    </div>
                </div>
            </div>

        }
        <br /><br />
        <a class="btn btn-primary btn-lg" href="@Url.Action("CreateBSIS", "DegreeQuestionsModels")">Ask a Question</a>
            
        
    </div>
</div>




